.form__button {
    margin: 18px auto 37px;
    display: block;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: opacity .2s;
}

.form__button:hover {
    opacity: 0.8;
    transition: opacity .2s;
}

@media screen and (max-width: 550px) {
    .form__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}

