.profile {
    margin: 0 auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 680px) {
    .profile {
        flex-direction: column;
        margin: 42px auto 38px;
    }
}