.form__item {
    margin: 0 auto;
    border: 0;
    width: 358px;
    min-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: block;
            
}

.form__item:focus {
    outline: 0;
}

/* .form__item:invalid {
    border-bottom: 1px solid #FF0000;
}

.form__item:valid {
    border-bottom: 1px solid rgba(0, 0, 0, .3);;
} */

.form__item_type_error {
    border-bottom-color: red;
}

@media screen and (max-width: 550px) {
    .form__item {
        width: 238px;
        
    }
}
