.header {
   margin: 45px auto 40px;
   padding-bottom: 41px;
   flex-shrink: 0;
   max-width: 880px;
   width: calc(100% - 19px);
   border-bottom: 1px solid #545454;
}

@media screen and (max-width: 680px) {
   .header {
      margin: 0;
      padding: 28px 0 28px 30px;
   }
   
}