.header {
   margin: 45px auto 40px;
   padding-bottom: 41px;
   flex-shrink: 0;
   max-width: 880px;
   width: calc(100% - 19px);
   
}

@media screen and (max-width: 680px) {
   .header {
      margin: 0;
      width: 100%;
   }
   
}