.form__heading {
    margin: 34px auto 54px auto;
    color: black;
    /* text-align: center; */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    width: 358px;
}

@media screen and (max-width: 550px) {
    .form__heading {
        width: 238px;
        font-size: 18px;
        line-height: 22px;
    }
}