@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/card__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__picture/element__picture.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__likes/element__likes.css);
@import url(../blocks/element/__likes-number/element__likes-number.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-button/_color/element__like-button_color_white.css);
@import url(../blocks/element/__like-button/_color/element__like-button_color_black.css);
@import url(../blocks/element/__trash-button/element__trash-button.css);
@import url(../blocks/element/__trash-button/_invisible/element__trash-button_invisible.css);



@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__country/footer__country.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__picture-title/popup__picture-title.css);
@import url(../blocks/popup/_opened/popup_opened.css);



@import url(../blocks/form/form.css);
@import url(../blocks/form/__heading/form__heading.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__error-message/__error-message.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/form/__button/_inactive/form__button_inactive.css);



/* * {
    outline: 1px solid yellowgreen;
}  */

