.element__like-button {
    background-image: url(../../../images/like-button-disabled.png);
    padding: 0;
    width: 22px;
    height: 19px;
    position: absolute;
    right: 15px;
    bottom: 30px;
    border: 0;
    cursor: pointer;

}

.element__like-button:hover {
    opacity: 0.5;
}

.element__like-button:focus {
    background-image: url(../../../images/like-button-clicked.png);
}