.form__close-button {
    padding: 0;
    position: absolute;
    right: -50px;
    top: -50px;
    background: transparent;
    border: 0;
    cursor: pointer;

}

.form__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .form__close-button {
        right: 0;
        top: -36px;
    }
}